@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  font-family: serif;
}

* {
  box-sizing: border-box;
}

.book-phone-frame {
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-phone-rotator {
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center;
}
